@{
    ViewData["Title"] = "Home";
}
@*<div style="background-color:#153582">*@
<div class="container text-center rounded shadow-lg" style="background-color: white;">
    <br />
    <img src="~/img/ucdLogo.png" alt="logo" style="width: 175px; position: relative; float:right; padding-top: 10px; padding-right: 30px; padding-left: 30px;" />
    <br />
    <h1 style="text-align: center; position:absolute; padding-left: 335px;">Utah Collision Detection</h1>
    <br />
    <br />
    <br />

    <div class="text-left; container rounded shadow-lg" style="padding: 30px; width: 700px; background-color: white;">
        <p style="text-align: left;">Here at Utah Collision Detection it is our mission to help prevent the rising number of vehicular crashes in the Beehive state by bringing awareness to vehicular accidents in areas with high rates of incidents. </p>
        <p style="text-align: left;">
            The following statistics about car crashes in Utah come from the Crash Studies Team at UDOT's Traffic & Safety Division
            who maintain a detailed database of all crashes on public roadways in Utah. This data is used to report safety trends,
            identify potential safety improvement projects, and allocate limited funding to projects that will have the greatest impact on safety.
        </p>

        <p style="text-align: left;">Check out this video below on how to become a safer driver.</p>
    </div><br /><br />


    @*YouTube Video*@
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0DWcV4CTQz0"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
        encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br /><br />

    @*Crashes by county in Utah*@
    @*Based on Utah Crash Data 2020*@
<div class="text-center">

    <div class="col-6" style="float: left;">
        <h3 style="text-align: center;">Total Utah Crashes by County</h3><br />
        <iframe allow="geolocation" src="https://opendata.utah.gov/dataset/test/aisb-xvj3/embed?width=480&height=375" width="480" height="375" style="border:0; padding: 0; margin: 0; margin-left: 5px;"></iframe><br /><br />
        <div class="text-left; container rounded shadow-lg" style="padding: 30px; padding-bottom: 20px; width: 480px; background-color: white;">
            <p>The total number of crashes occuring anywhere in Utah in the years 2016, 2017, and 2019 broken up by county an shown in descending order. Salt Lake and Utah counties have by far more accidents than any other county in Utah.</p>
        </div><br /><br />
    </div>

    <div class=" col-6" style="float: right;">
        @*Crash severity in all of Utah by severity id*@
        <h3 style="text-align: center;">Crash Severity in Utah by Severity</h3><br />
        <iframe allow="geolocation" src="https://opendata.utah.gov/dataset/Crash-Severity-by-ID/w9re-6w7v/embed?width=480&height=375" width="480" height="375" style="border:0; padding: 0; margin: 0;"></iframe><br /><br />
        <div class="text-left; container rounded shadow-lg" style="padding: 30px; padding-bottom: 20px; width: 480px; background-color: white;">
            <p>Crash severity in Utah shown on a scale of 1 - 5 where 1 indicates no injury, 2 indicates a possible injury, 3 indicates a suspected minor injury, 4 indicates a suspected serious injury, and 5 indicates one or more fatalities.</p>
        </div><br /><br />
    </div>
    <br /><br />

    @*Crash severity in all of Utah by route*@
    <div class="col-6" style="float: left;">
        <h3>Average Crash Severity in Utah by Route</h3>
        <iframe allow="geolocation" src="https://opendata.utah.gov/dataset/Crash-Severity-by-Route/p4b4-pv2h/embed?width=480&height=375" width="480" height="375" style="border:0; padding: 0; margin: 0;"></iframe><br /><br />
        <div>
            <p class="text-left; container rounded shadow-lg" style="padding: 30px; padding-bottom: 20px; width: 480px; background-color: white;">Crash severity of the 10 most dangerous Utah routes shown in comparison to all other Utah routes included in the dataset. Based on the same 5 point scale previously listed (1 being least severe and 5 being the most severe). </p>
        </div><br /><br />
    </div>

    @*Crash severity in all of Utah by month*@
    <div class=" col-6" style="float: right;">
        <h3>Average Crash Severity in Utah by Month</h3>
        <iframe allow="geolocation" src="https://opendata.utah.gov/dataset/Crash-Severity-by-Month/hgj5-q7bc/embed?width=480&height=375" width="480" height="375" style="border:0; padding: 0; margin: 0;"></iframe><br /><br />
        <div>
            <p class="text-left; container rounded shadow-lg" style="padding: 30px; padding-bottom: 20px; width: 480px; background-color: white;">The total number of crashes occuring anywhere in Utah in the years 2016, 2017, and 2019 broken up by county an shown in descending order. Salt Lake and Utah counties have by far more accidents than any other county in Utah.</p>
        </div><br />
    </div>

</div><br /><br />
    <a class="btn btn-primary" style="cursor: pointer; justify-content: center;margin: 0 auto;" href="#top">Back to Top</a>
    <br /><br />

</div>
<br />
<br />
<br />

@*</div>*@