/*Custom CSS*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

#header {
    /*    position: fixed;*/
    top: 0;
    width: 100%;
}

/*NEW STUFF HERE*/

.select {
    padding: 8px 12px;
    color: #333333;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 5px;
/*Replace default styling (arrow)*/
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /*background-image: url('data:image/svg+xml;utf8,')*/
}

.select:focus,
.select:hover {
    outline: none;
    border: 1px solid #bbbbbb;
}

.select option {
    background: #ffffff;
}

.parent {
    /*    margin: 1rem;*/
    /*    padding: .25rem .25rem;*/
    text-align: center;
}

.child {
    display: inline-block;
    padding: .25rem .25rem;
    vertical-align: middle;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    /*spacing between items in navbar*/
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: #459BDF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

    nav a:hover {
        color: #3171F6;
        text-decoration: none;
    }

    nav a:before {
        content: '';
        display: block;
        height: 5px;
        background-color: #459BDF;
        position: absolute;
        top: 0;
        width: 0%;
        transition: all ease-in-out 235ms;
    }

    nav a:hover:before {
        width: 100%;
    }


/*END NEW STUFF*/
#footer {
    position: fixed;
    bottom: 0;
    display: inline-block;
    margin-top: 2%;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    padding: 5px;
}

    .flex-child:first-child {
        margin-right: 20px;
    }

.form1 {
    width: 940px;
    padding: 2rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92,99,105,.2);
    background-color: white;
    opacity: 0.825;
    margin: 0 auto;
}

:root {
    --first-color: #1A73E8;
    --input-color: #80868B;
    --border-color: #DADCE0;
    --body-font: 'Roboto', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .75rem;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: #479BF8;
}

h1 {
    margin: 0;
}

.l-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58vh;
}

.form {
    width: 360px;
    padding: 2rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92,99,105,.2);
}

.form__title {
    font-weight: 400;
    margin-bottom: 3rem;
}

.form__div {
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;
}

.form__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: var(--normal-font-size);
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
}

.form__input1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: var(--normal-font-size);
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
}

.form__input2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: var(--normal-font-size);
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
}

.form__input3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: var(--normal-font-size);
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
}

.form__input4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: var(--normal-font-size);
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
    cursor: default;
}

.form__label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 .25rem;
    background-color: white;
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: .3s;
}

.form__label1 {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 .25rem;
    background-color: white;
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: .3s;
}

.form__label2 {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 .25rem;
    background-color: white;
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: .3s;
}

.form__label3 {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 .25rem;
    background-color: white;
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: .3s;
}

.form__label4 {
    position: absolute;
    top: -.5rem;
    left: .8rem;
    padding: 0 .25rem;
    background-color: white;
    color: var(--input-color);
    font-size: var(--small-font-size);
    transition: .3s;
    z-index: 10;
}

.form__button {
    display: inline-flex;
    /*    margin-left: auto;*/
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: var(--first-color);
    color: #fff;
    font-size: var(--normal-font-size);
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
}

.form__button1 {
    display: inline-flex;
    /*    margin-right: auto;*/
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: #EEC55D;
    color: black;
    font-size: var(--normal-font-size);
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
}

.form__button:hover {
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
}

.form__button1:hover {
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
}

/*Input focus move up label*/
.form__input:focus + .form__label {
    top: -.5rem;
    left: .8rem;
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

.form__input1:focus + .form__label1 {
    top: -.5rem;
    left: .8rem;
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

.form__input2:focus + .form__label2 {
    top: -.5rem;
    left: .8rem;
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

.form__input3:focus + .form__label3 {
    top: -.5rem;
    left: .8rem;
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

.form__input4:focus + .form__label4 {
    top: -.5rem;
    left: .8rem;
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

/*Input focus sticky top label*/
.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
    top: -.5rem;
    left: .8rem;
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

.form__input1:not(:placeholder-shown).form__input1:not(:focus) + .form__label1 {
    top: -.5rem;
    left: .8rem;
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

.form__input2:not(:placeholder-shown).form__input2:not(:focus) + .form__label2 {
    top: -.5rem;
    left: .8rem;
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

.form__input3:not(:placeholder-shown).form__input3:not(:focus) + .form__label3 {
    top: -.5rem;
    left: .8rem;
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

.form__input4:not(:placeholder-shown).form__input4:not(:focus) + .form__label4 {
    top: -.5rem;
    left: .8rem;
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

/*Input focus*/
.form__input:focus {
    border: 1.5px solid var(--first-color);
}

.form__input1:focus {
    border: 1.5px solid var(--first-color);
}

.form__input2:focus {
    border: 1.5px solid var(--first-color);
}

.form__input3:focus {
    border: 1.5px solid var(--first-color);
}

.form__input4:focus {
    border: 1.5px solid var(--first-color);
}
